# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\software\PycharmProject\BaseSeq2Seq\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
